body {
  background-image: url(/images/background.jpg);
  font-family: "Roboto Condensed", sans-serif;
}
body .container {
  width: 90%;
  height: 97vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body h1 {
  font-size: clamp(30px, 3vw, 70px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: hsl(0deg, 0%, 100%);
}
body .result {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-backdrop-filter: blur(90px);
          backdrop-filter: blur(90px);
  font-size: clamp(25px, 3.2vw, 70px);
  background-color: hsla(0deg, 0%, 100%, 0.425);
  border: 6px solid black;
}
body .sides {
  width: 90%;
  height: 10%;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .sides {
  color: hsl(0deg, 0%, 100%);
}
body .your-header {
  font-size: clamp(16px, 3vw, 50px);
  margin-left: 11vw;
}
body .computer-header {
  direction: ltr;
  font-size: clamp(16px, 3vw, 50px);
  margin-right: 5.5vw;
}
body .buttons {
  width: 90%;
  height: 35%;
  margin-top: clamp(15px, 1vw, 25px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .your-choice {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .paper, body .scissors, body .rock {
  width: clamp(80px, 6.4166666667vw, 140px);
  height: clamp(80px, 6.4166666667vw, 140px);
  background-color: hsl(224deg, 100%, 70%);
  border: 4px solid black;
  margin-right: 1vw;
  margin-left: 1vw;
  border-radius: 4px;
  outline: none;
  transition: 0.2s;
}
body .paper:hover, body .scissors:hover, body .rock:hover {
  background-color: hsl(224deg, 100%, 60%);
}
body .computer-choice {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .c-paper,
body .c-rock,
body .c-scissors {
  width: clamp(80px, 6.4166666667vw, 140px);
  height: clamp(80px, 6.4166666667vw, 140px);
  background-color: hsl(0deg, 100%, 70%);
  border: 4px solid black;
  margin-right: 1vw;
  margin-left: 1vw;
  border-radius: 4px;
  outline: none;
  transition: 0.2s;
}
body #score, body #computer-score {
  font-size: clamp(20px, 3.5vw, 120px);
  color: hsl(0deg, 0%, 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .versus {
  font-size: clamp(40px, 4.5vw, 170px);
  color: purple;
}
body img {
  width: clamp(40px, 3.8125vw, 90px);
  height: clamp(40px, 3.8125vw, 90px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #result {
  color: black;
}
body .your-header-active {
  font-size: 38.4px;
  color: hsl(143deg, 100%, 50%);
  margin-left: 12vw;
}
body .computer-header-active {
  font-size: 38.4px;
  color: hsl(143deg, 100%, 50%);
  margin-right: 10vw;
}
body #start {
  width: 20%;
  height: clamp(60px, 60%, 200px);
  background-color: hsl(103deg, 98%, 45%);
  border: 3px solid black;
  font-size: clamp(20px, 1.5vw, 40px);
  font-weight: bolder;
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s all;
}
body #start:hover {
  background-color: hsl(103deg, 100%, 35%);
}
body .choose-one-p,
body .choose-one-r,
body .choose-one-s {
  width: clamp(80px, 6.4166666667vw, 140px);
  height: clamp(80px, 6.4166666667vw, 140px);
  background-color: hsl(224deg, 100%, 50%);
  border: 4px solid black;
  margin-right: 1vw;
  box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.387);
  margin-left: 1vw;
  border-radius: 4px;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
body .choose-one-p:hover,
body .choose-one-r:hover,
body .choose-one-s:hover {
  background-color: hsl(224deg, 100%, 45%);
  box-shadow: 0px 13px 17px 0px rgba(0, 0, 0, 0.487);
}/*# sourceMappingURL=game.css.map */